

@using IDPPrototype.Core.IDP
@page "/idp/GetIdentity"

<PageTitle>IDP Demo</PageTitle>

<h1>IDP Demo Viewer</h1>
<p>Description of tech and demo</p>

<button class="btn btn-primary" @onclick="RunDemo">Run Demo</button>

@code {
    // TODO We are gonna need to review this entire class

    [Inject]
    public IDPParams idInput { get; set; }
    private void RunDemo()
    {
        if (!GetIdentity.GetNewTestIdentity(idInput, out IDPParams? outputParams))
        {
            Console.WriteLine("Test Completed");
        }
    }
}
